.header{
			position: fixed;
			top:0; left: 0;
			margin-bottom: 50px;
			width: 100%;
	        color: black;
	        height: 100px;
	        font-size: 20px;
	        font-style:fantasy;
	        flot:right;
}